gold1 = radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%)
gold2 = linear-gradient(to right, #BF953F, #FBF5B7, #B38728, #FBF5B7, #AA771C)
eyeOutGlass = linear-gradient(to right, #8e2527, #b53134, #e0494c, #751113, #8e2527)
