@import '_variable'

body
  display flex
  align-items center
  justify-content space-between
  flex-direction column
  height 100vh
  background url('https://i.imgur.com/40E7NAQ.jpg') no-repeat
  background-size cover
  min-height 500px
  padding 1em

footer
  padding 2em

cite
  font-size 2em
  padding 1em 1em 2em
  text-shadow 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff
  border-radius 20px 20px 0 0
  background linear-gradient(#fff, transparent)
  user-select none
  small
    font-size 18px

@import 'bobafett'