html(lang="pt-BR")
  head
    - var name = 'Bobafett'
    block vars
    meta(charset="UTF-8")
    title #{name} #{titulo}
    meta(name="author" content="lucasferreiralimax")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")
    block head_page
  body
    block content
