extends _layout.pug

block vars
  - var titulo = ' - Sobre'
block head_page  
  meta(name="description" content="Web developer Front-end lucasferreiralimax")
  meta(name="keywords" content="HTML,CSS,JavaScript,lucasferreiralimax")
block content  
  main
    h1 Capacete do Bobafett Gold
    p Desenvolvido apenas com CSS e usando transições para animações da mira de míssil
    p Escrito com a base do projeto 
      a(href="https://github.com/lucasferreiralimax/webpack_work" target="_blank") webpack_work
      |  usando stylus.js para trabalhar o CSS e pug.js para trabalhar o HTML
    h2
      a(href="/") Voltar para
        strong  #{name} Gold