extends _layout.pug

block vars
  - var titulo = ' - Sobre'
block head_page  
  meta(name="description" content="Web developer Front-end lucasferreiralimax")
  meta(name="keywords" content="HTML,CSS,JavaScript,lucasferreiralimax")
block content
  h1
    a(href="/") Voltar para
      strong  #{name} Gold
  footer
    a(href="https://github.com/lucasferreiralimax/bobafett_gold" target="_blank") Desenvolvido por @lucasferreiralimax
