extends page/_layout.pug

block vars
  - var titulo = ' - Feito com CSS'
block head_page  
  meta(name="description" content="Web developer Front-end Workflow")
  meta(name="keywords" content="HTML,CSS,JavaScript,Stylus,Pug,Babel,Gulp")
block content
  header
    cite
      | "Mas o destino as vezes resgata os afortunados" -
      small  Bobafett
  main.home    
    .bobafett
      .eye
        .piece
        .arrows
      .viewfinder
        .radio
    h2
      a(href="/page/about.html") Sobre o projeto    
    
