extends page/_layout.pug

block vars
  - var titulo = ' - Feito com CSS'
block head_page  
  meta(name="description" content="Web developer Front-end Workflow")
  meta(name="keywords" content="HTML,CSS,JavaScript,Stylus,Pug,Babel,Gulp")
block content
  cite
    | "Mas o destino as vezes resgata os afortunados" -
    small  Bobafett
  .bobafett
    .eye
      .piece
      .arrows
    .viewfinder
      .radio
  footer
    a(href="/page/exemplo.html") Link página de exemplo
